<meta charset="UTF-8">
<style type="text/css">@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700');
.fc-top {
	padding: 0 0 !important;
}
._customer-footer {
	width: 100%;
	display: block;
	font-family: Arial, sans-serif;
	font-weight: normal;
	font-size: 15px;
	line-height: 1;
	background-image: -moz-linear-gradient( 90deg, rgb(29,27,28) 0%, rgb(29,29,31) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(29,27,28) 0%, rgb(29,29,31) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(29,27,28) 0%, rgb(29,29,31) 100%);
	box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
}
._customer-footer__wrap {
	max-width: 1227px;
	margin: auto;
}
._customer-footer__container {
	display: flex;
	justify-content: flex-start;
	position: relative;
	box-sizing: border-box;
	padding: 50px 20px 33px;
}
._customer-footer__logo {
	display: block;
	margin-bottom: 20px;
}
._customer-footer__logo-block {
	margin-right: 100px;
	text-align: center;
}
._customer-footer__slogan {
	color: #ffffff;
	font-size: 16px;
	line-height: 21px;
}
._customer-footer__cnt {
	color: #58646e !important;
	margin: 0 0 7px 0 !important;
	text-decoration: none !important;
	font-weight: 300;
}
._customer-footer__cnt:hover {
	text-decoration: underline !important;
	color: #ffffff !important;
}
._customer-footer__cnt--bold {
	font-size: 18px;
	font-weight: 700;
	color: #ffffff;
	margin: 0;
}
._customer-footer__catalog-block {
	display: flex;
	justify-content: flex-start;
}
._customer-footer__catalog-list {
	margin: 15px 100px 0 0;
}
._customer-footer__catalog-list:last-child {
	margin-right: 0;
}
._customer-footer__contact-block {
	display: flex;
	justify-content: flex-start;
	margin-top: 15px;
}
._customer-footer__ul {
	list-style: none !important;
	margin: 20px 0 0 0 !important;
	padding: 0;
	white-space: nowrap;
}
._customer-footer__ul li {
	color: #ffffff;
	margin: 0 0 20px 0;
}
._customer-footer__ul ._customer-footer__address--phone {
	background: url("img/footer/phone.png") 0 5px no-repeat;
	padding-left: 25px;
	margin-bottom: 15px;
	line-height: 20px;
}
._customer-footer__ul ._customer-footer__address--phone a,
._customer-footer__ul ._customer-footer__address--mail a {
	color: #ffffff;
	text-decoration: none;
}
._customer-footer__ul ._customer-footer__address--phone a:hover {
	text-decoration: underline;
}
._customer-footer__ul ._customer-footer__address--mail a {
	line-height: 20px;
}
._customer-footer__address--mail a:hover {
	text-decoration: underline;
}
._customer-footer__ul ._customer-footer__address--mail {
	background: url("img/footer/mail.png") 0 5px no-repeat;
	padding-left: 25px;
	line-height: 20px;
}
._customer-footer__ul ._customer-footer__address--map {
	background: url("img/footer/maps.png") 0 5px no-repeat;
	padding-left: 25px;
	margin-bottom: 15px;
	line-height: 24px;
}
._customer-footer__ul ._customer-footer__address--work {
	color: #58646e;
	font-size: 13px;
	line-height: 20px;
}
._customer-footer__bottom {
	display: block;
	background: #282c2f;
	color: #ffffff;
	font-size: 12px;
	line-height: 14px;
	padding: 16px 0;
	font-family:  Arial, sans-serif;
	text-transform: uppercase;
	padding-left: 10px;
}
._customer-footer__btn {
	font-family: Roboto, Arial, sans-serif;
	font-weight: 400;
	width: 180px;
	height: 40px;
	background: #f07e01;
	border-radius: 4px;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 16px;
	margin-left: 25px;
}
._customer-footer__btn:hover {
	opacity: 0.9;
}
@media (max-width: 1198px) {
	._customer-footer__logo-block {
		margin-right: 65px;
	}

	._customer-footer__catalog-list {
		margin-right: 40px;
	}
}

</style>
<!--Footer-->
<footer class="_customer-footer" itemscope="" itemtype="http://schema.org/LocalBusiness">
	<div class="_customer-footer__wrap">
		<div class="_customer-footer__container">
			<div class="_customer-footer__catalog-block">
				<div class="_customer-footer__logo-block">
					<a class="_customer-footer__logo" href="/">
						<img src="img/footer/logo.png" alt="Логотип" itemprop="logo" />
					</a>
					<div class="_customer-footer__slogan">
						Изготовим и поставим комплектующие<br>
						для строительства ЛЭП и подстанций
					</div>
				</div>
				<div class="_customer-footer__catalog-list">
					<p class="_customer-footer__cnt--bold">Покупателям</p>
					<ul class="_customer-footer__ul">
						<li>
							<a class="_customer-footer__cnt" href="/pages/12013-o-kompanii">О компании</a>
						</li>
						<li>
							<a class="_customer-footer__cnt" href="/catalog">Товары и услуги</a>
						</li>
						<li>
							<a class="_customer-footer__cnt" href="/pages/12014-izgotovlenie-izdeliy-dlya-oshinovki">Изготовление изделий <br>для ошиновки</a>
						</li>
						<li>
							<a class="_customer-footer__cnt" href="/pages/12015-izgotovlenie-metallokonstruktsiy">Изготовление <br>металлоконструкций</a>
						</li>
						<li>
							<a class="_customer-footer__cnt" href="/contacts">Контакты</a>
						</li>
					</ul>
				</div>
				<div class="_customer-footer__catalog-list">
					<p class="_customer-footer__cnt--bold">Продукция</p>
					<ul class="_customer-footer__ul">
						<li>
							<a class="_customer-footer__cnt" href="#">Товарная категория</a>
						</li>
						<li>
							<a class="_customer-footer__cnt" href="#">Товарная категория</a>
						</li>
						<li>
							<a class="_customer-footer__cnt" href="#">Товарная категория</a>
						</li>
						<li>
							<a class="_customer-footer__cnt" href="#">Товарная категория</a>
						</li>
						<li>
							<a class="_customer-footer__cnt" href="#">Товарная категория</a>
						</li>
					</ul>
				</div>
				<div class="_customer-footer__contact-block">
					<div class="_customer-footer__address">
						<p class="_customer-footer__cnt--bold">Контакты</p>
						<ul class="_customer-footer__ul">
							<li class="_customer-footer__address--mail">
								<a href="mailto:telza@rambler.ru" itemprop="email" onclick="yaCounter47305020.reachGoal('megasite_footer_email'); return true;">telza@rambler.ru</a><br>
							</li>
							<li class="_customer-footer__address--map" itemscope itemtype="http://schema.org/PostalAddress" itemprop="address">
								<span itemprop="streetAddress">ул. Четвертая, стр. 23</span><span itemprop="addressLocality">г. Среднеуральск</span><br />
							</li>
							<li class="_customer-footer__address--phone">
								<a href="tel:83432008515" itemprop="telephone" onclick="yaCounter47305020.reachGoal('megasite_footer_tel'); return true;">8 (343) 200-85-15</a><br>
								<a href="tel:89122998880" itemprop="telephone" onclick="yaCounter47305020.reachGoal('megasite_footer_tel'); return true;">8 (912) 299-88-80</a>
							</li>
							<li>
								<div class="js-apress-order-button js-get-order-form _customer-footer__btn"
									 data-company-id="9570089" data-company-name="Компания TELZA" data-company-name-rest="ООО"
									 data-company-url="http://www.телза.рф" data-ga-id="CK-1193-1"
									 data-params="{&quot;company_id&quot;:9570089}" data-statistics="1" data-type="message"
									 onclick="yaCounter47305020.reachGoal('megasite_footer_callback'); return true;">
									Обратная связь
								</div>
							</li>
							<li class="_customer-footer__address--work" itemprop="openingHours" content="Mo,Tu,We,Th 09:00-17:30">Режим работы: Пн-Чт с 9:00 до 17:30<br>
								<span itemprop="openingHours" content="Fr 9:00-17:00">Пт с 9:00 до 17:00, без перерывов</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<meta itemprop="name" content="Торговый дом КонТРАСТ"><meta content="Mo,Tu,We,Th,Fr 09:00-18:00" itemprop="openingHours">
</footer>
<div class="_customer-footer__bottom">
	<div class="_customer-footer__wrap">
		&copy; <span itemprop="name">Компания TELZA</span>
	</div>
</div>
<!--end Footer-->