<meta charset="UTF-8">
<style type="text/css">@import url('https://fonts.googleapis.com/css?family=Roboto');
._customer__toolbar {
	position: relative;
	margin: 0 0 0 0;
	width: 100%;
	background-image: -moz-linear-gradient( 90deg, rgb(13,10,10) 0%, rgb(59,60,64) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(13,10,10) 0%, rgb(59,60,64) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(13,10,10) 0%, rgb(59,60,64) 100%);
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	height: 57px;
	white-space: nowrap;
}
._customer-toolbar-container {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	max-width: 1207px;
	box-sizing: border-box;
	height: 100%;
	padding-left: 10px;
	padding-right: 10px;
}
._customer__toolbar-left {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
._customer__toolbar-logo {
	width: 191px!important;
	height: 43px!important;
}
._customer__toolbar-nav {
	margin-left: 20px;
}
._customer__toolbar-link {
	font-size: 13px!important;
	line-height: 1.2;
	text-transform: uppercase!important;
	color: #fff!important;
	padding: 0 8px 0;
	margin: 0 0 0 0 !important;
	text-decoration: none !important;
	cursor: pointer;
	box-sizing: border-box;
}
._customer__toolbar-link:hover {
	text-decoration: underline!important;
}
._customer__toolbar-contact {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	font-size: 16px !important;
	line-height: 24px;
	font-weight: 400 !important;
}
._customer__toolbar-email {
	cursor: pointer;
	padding-left: 25px;
	background: url('img/toolbar/mail.png') no-repeat 0 5px;
	color: #ffffff !important;
	text-decoration: none !important;
	margin-left: 5px;
}
._customer__toolbar-phone {
	cursor: pointer;
	padding-left: 25px;
	background: url('img/toolbar/phone.png') no-repeat 0 4px;
	color: #ffffff !important;
	margin: 0 0 0 40px !important;
	text-decoration: none !important;
	position: relative;
}
._customer__toolbar-phone:before {
	content: "";
	width: 1px;
	height: 30px;
	background: #666666;
	position: absolute;
	left: -20px;
	top: -4px;
}
._customer__toolbar-phone:hover, ._customer__toolbar-email:hover {
	text-decoration: underline!important;
}
._customer-toolbar__form {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	position: relative;
	width: 265px !important;
	max-width: 265px;
	height: 40px;
	margin-top: 8px;
	background-color: #ffffff;
	box-sizing: border-box;
}
._customer-toolbar__inp {
	height: 40px !important;
	width: 265px !important;
	border: none;
	color: #000000;
	font-size: 13px;
	outline: none;
	padding: 0 40px 0 10px;
	box-sizing: border-box;
}
._customer-toolbar__form button {
	width: 40px !important;
	height: 40px !important;
	border: none !important;
	cursor: pointer;
	position: absolute;
	box-sizing: border-box;
	outline: none !important;
	opacity: 1 !important;
	top: 0;
	right: 0;
}
._customer-toolbar__search-btn:before {
	width: 40px !important;
	height: 30px !important;
	content: url('img/toolbar/search.png') !important;
	background: #f07e01;
	position: absolute;
	top: 0;
	right: 0;
	padding-top: 10px;
}
._customer-toolbar__form button:hover {
	opacity: 0.7!important;
}
._customer-toolbar__inp::-webkit-input-placeholder {
	color: #000000;
}
._customer-toolbar__inp::-moz-placeholder {
	color: #000000;
}
._customer-toolbar__inp:-moz-placeholder {
	color: #000000;
}
._customer-toolbar__inp:-ms-input-placeholder {
	color: #000000;
}
@media (max-width: 1160px) {
	._customer-toolbar-container {
		padding-left: 0;
	}
	._customer__toolbar-nav {
		margin-left: 5px;
	}
	._customer__toolbar-contact {
		font-size: 13px !important;
	}
	._customer__toolbar-link {
		font-size: 11px!important;
		padding: 0 5px 0;
	}
	._customer__toolbar-phone {
		margin: 0 0 0 10px !important;
	}
	._customer__toolbar-phone:before {
		left: -5px;
	}
}

</style>
<div class="_customer__toolbar">
	<div class="_customer-toolbar-container">
		<div class="_customer__toolbar-left">
			<a class="_customer__toolbar-logo" href="http://www.xn--80ajgp7a.xn--p1ai">
				<img class="_customer__toolbar-logo-img" src="img/toolbar/logo.png" />
			</a>
			<div class="_customer__toolbar-nav">
				<a class="_customer__toolbar-link" href="/about">О компании</a>
				<a class="_customer__toolbar-link" href="/catalog">Ассортимент</a>
				<a class="_customer__toolbar-link" href="/contacts">Контакты</a>
			</div>
		</div>
		<form accept-charset="UTF-8" accept-encoding="UTF-8" action="http://www.xn--80ajgp7a.xn--p1ai/catalog"
			  class="search-form with-search-icon _customer-toolbar__form" method="get"
			  onsubmit="formSubmitter.disableButtons(this, null, null);">
			<div style="margin:0;padding:0;display:none"><input name="utf8" type="hidden" value="✓" /></div>
			<div class="_customer-toolbar-input-cnt sf-input-wrapper _customer-toolbar__input-wrapper">
				<input class="sf-input js-reset-field _customer-toolbar__inp" id="q" maxlenght="255" name="q"
					   placeholder="Найти товар или услугу..." type="text" />
				<button class="custom-button _customer-toolbar__search-btn"
						name="commit" type="submit" value="Поиск">
				</button>
			</div>
		</form>
		<div class="_customer__toolbar-contact">
			<a class="_customer__toolbar-email" href="mailto:telza@rambler.ru"
			   onclick="yaCounter47305020.reachGoal('megasite_toolbar_email'); return true;">
				telza@rambler.ru
			</a>
			<a class="_customer__toolbar-phone" href="tel:83432008515"
			   onclick="yaCounter47305020.reachGoal('megasite_toolbar_tel'); return true;">
				8 (343) 200-85-15
			</a>
		</div>
	</div>
</div>

